@-moz-document url(chrome://browser/content/browser.xhtml) {
	/* Hide Firefox top tab bar */
	#TabsToolbar {
		visibility: hidden !important;
	}

	/*  Move navigation bar up to fill tab bar space */
	#nav-bar {
		border-width: 1px !important;
		border-style: solid !important;
		border-color: transparent !important;

		margin-bottom: -1px !important;
		margin-top: -29px !important;
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

	/* Navigation bar color */
	#nav-bar {
		background: #2b2e39 !important;
	}

	/* Hide TreeStyleTab header */
	#sidebar-header {
		display: none;
	}

	/* Hide TreeStyleTab splitter */
	#sidebar-splitter {
		display: none;
	}

	/* Url bar color */
	#urlbar {
		background: #404552 !important;
	}

	/* Hide ... button in URL bar */
	#urlbar #pageActionButton {
		display: none;
	}

	#urlbar #pageActionSeparator {
		display: none;
	}

	/* Unzoom URL bar */
	#urlbar[breakout-extend] {
		top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
		left: calc((var(--urlbar-toolbar-width) - var(--urlbar-width)) / 2) !important;
		width: 100% !important;
	}

	#urlbar[breakout-extend] #urlbar-input-container {
		height: calc(var(--tab-min-height) - 3px) !important;
		padding: 0px !important;
	}

	/* Clean up extra spacing at the top and bottom */
	#urlbar-results {
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

	/* Compact results */
	#urlbar-results .urlbarView {
		margin: 0px !important;
		width: 100% !important;
	}

	#urlbar-results .urlbarView-row {
		padding: 0px !important;
	}

	/* Subtle border between results */
	#urlbar-results .urlbarView-row:not(:last-of-type) {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	}
}
