@-moz-document url(about:blank) {
	html > body:empty {
		background-color: #2a2a2e !important;
	}
}

@-moz-document domain("boards.4chan.org"), domain("boards.4channel.org") {
	/* Hide unnecessary elements */
	#absbot { display: none; }
	#bannerCnt { display: none; }
	#globalMessage { display: none; }
	#op.desktop { display: none; }
	#toggleMsgBtn { display: none; }
	.adg-rects.desktop { display: none; }
	.middlead.center { display: none !important; }
	.replacedSideArrows { display: none; }
	form[name=post] { display: none; }
	hr.aboveMidAd { display: none; }
	hr.abovePostForm { display: none; }

	/* --- center threads start --- */
	.thread > .party-hat {
		left: 12%
	}
	.thread > .opContainer {
		display: block;
	}
	.thread > .postContainer {
		margin: auto;
		width: 75%;
	}
	.thread > .summary {
		margin-left: 12.5%;
		display: block;
	}
	.thread > .postContainer > .sideArrows {
		display: none;
	}
	/* --- center threads end --- */

	/* Make posts the full width */
	.postContainer.replyContainer .post.reply { width: 100% }
	.postContainer.replyContainer.yourPost .post.reply { width: calc(100% - 3px); }
	.postContainer.replyContainer.quotesYou .post.reply { width: calc(100% - 3px); }
}

@-moz-document domain("github.com") {
	:root{
		--tab-size: 4;
	}

	.blob, .blob-code-inner, pre, code, tt {
		-moz-tab-size: var(--tab-size);
		tab-size:      var(--tab-size);
	}
}

@-moz-document domain("gitlab.com") {
	:root{
		--tab-size: 4;
	}

	.blob-viewer, pre, code, tt {
		-moz-tab-size: var(--tab-size);
		tab-size:      var(--tab-size);
	}
}

@-moz-document domain("wiki.archlinux.org") {
	.mw-page-container,
	.mw-workspace-container {
		max-width: unset !important;
	}

	.mw-content-container,
	.mw-article-toolbar-container {
		margin-left: 11.5em !important;
		max-width: calc(100% - 11em) !important;
	}
}

@-moz-document domain("youtube.com") {
	/* Center content */
	#columns {
		max-width: 65% !important;
		min-width: 65% !important;
	}

	/* Hide video player (small and theater size) */
	#player, #player-theater-container {
		display: none !important;
	}

	/* Hide recommended sidebar */
	#columns #secondary {
		display: none !important;
	}

	/* Hide homepage recommendations */
	ytd-two-column-browse-results-renderer[page-subtype="home"] {
		display: none !important;
	}

	/* Hide voice search button */
	#voice-search-button {
		display: none !important;
	}

	/* Hide sidebar guide and its icon */
	#guide-content, #guide-icon {
		display: none !important;
	}

	/* Hide collapsed sidebar guide */
	ytd-mini-guide-renderer {
		display: none !important;
	}

	/* Hide miniplayer */
	ytd-miniplayer {
		display: none !important;
	}

	/* Hide video buttons (like, share, etc) */
	#menu-container.ytd-video-primary-info-renderer
	{ display: none !important; }
	#subscribe-button.ytd-video-secondary-info-renderer
	{ display: none !important; }
	#sponsor-button
	{ display: none !important; }
	ytd-comments-header-renderer > #simple-box
	{ display: none !important; }

	/* Move first comment up a bit */
	#comments > #sections > #contents > :first-child {
		margin-top: -30px;
	}

	/* Hide popup */
	#dialog
	{ display: none !important; }
	.opened
	{ display: none !important; }

	/* Hide coutry code */
	#country-code
	{ display: none !important; }
}
