@-moz-document url(about:blank) {
	html > body:empty {
		background-color: #2a2a2e !important;
	}
}

@-moz-document domain("boards.4chan.org") {
	/* Hide unnecessary elements */
	#bannerCnt { display: none; }
	form[name=post] { display: none; }
	hr.aboveMidAd { display: none; }
	hr.abovePostForm { display: none; }
	#toggleMsgBtn { display: none; }
	#globalMessage { display: none; }
	.middlead.center { display: none !important; }
	.adg-rects.desktop { display: none; }
	#op.desktop { display: none; }
	#absbot { display: none; }

	/* Make posts the full width */
	.postContainer.replyContainer .post.reply { width: 100% }
}

@-moz-document domain("github.com") {
	:root{
		--tab-size: 4;
	}

	.blob, .blob-code-inner, pre, code, tt {
		-moz-tab-size: var(--tab-size);
		tab-size:      var(--tab-size);
	}
}

@-moz-document domain("gitlab.com") {
	:root{
		--tab-size: 4;
	}

	.blob-viewer, pre, code, tt {
		-moz-tab-size: var(--tab-size);
		tab-size:      var(--tab-size);
	}
}

@-moz-document domain("youtube.com") {
	/* Hide video player */
	#player-theater-container {
		display: none !important;
	}

	/* Hide recommended sidebar */
	#columns #secondary {
		display: none !important;
	}

	/* Center content */
	#columns {
		max-width: 65% !important;
		min-width: 65% !important;
	}
}
