// -*- css -*-

configuration {
	/*             bg       border   separator */
	color-window: "#404552, #2e3137, #2e3137";
	/*             bg	    fg       bgalt    hlbg     hlfg */
	color-normal: "#404552, #d3dae3, #3f4350, #5294e2, #d3dae3";
	color-urgent: "#524040, #ffffff, #524040, #ffffff, #707880";
	/* color-active: "#"; */

	font: "DejaVu Sans Mono 12";
	lines: 8;
	width: 50;
	bw: 4;
	separator-style: "solid";
	hide-scrollbar: true;
}
