# -*- conf -*-

# When usb keyboard is plugged in, run inputctl script
# Requires: run as local user with X variables set (DISPLAY and XAUTHORITY)

SUBSYSTEM=="usb",
	ACTION=="add",
		ATTRS{idVendor}=="04d9",
		ATTRS{idProduct}=="0169",
		OWNER="rick",
		RUN+="/home/rick/.scripts/inputctl.sh -k on"

# https://wiki.archlinux.org/index.php/Udev#Execute_on_VGA_cable_plug_in
